#principal-nav {
    background-color: #750100;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#principal-nav li {
    display: inline
}

form{
    margin-top: 15px;
    margin-right: 15px;
}
#logo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-header button{
    max-height: 20px;
}
#logo{
    display: flex;
    flex-direction: row;
    color:#750100;
}

#logo img{
    margin-top: 15px;
    max-height: 42px;
    max-width: 61px;
}

#main-box {
    display: grid;
    grid-template-columns: 70% 30%;
}

main{
    margin-left: 2%;
}

aside form{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: stretch;

}


aside {
    background-color: black;
}

.sort-input{

    width: 90%;
}

select{
    width: 100%;
}

.sort-opn{
    background-color:aqua;
    display: flex;
    flex-direction: column;

}

.sort-opn ul {
    padding-left: 5%;
}