#principal-nav {
    background-color: #750100;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#principal-nav li {
    display: inline
}

form{
    margin-top: 15px;
    margin-right: 15px;
}
#logo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-header button{
    max-height: 20px;
}
#logo{
    display: flex;
    flex-direction: row;
    color:#750100;
}

#logo img{
    margin-top: 15px;
    max-height: 42px;
    max-width: 61px;
}